*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    width: 100%;
    height: 600vh;
}

.loading{
    fill: lightskyblue;
    background-color: antiquewhite;
    position: fixed;
    transform: translate(-50% , - 50%);
    top: 0%;
    left: -99%;
    animation-name: slide-right;
    animation-timeline: scroll();
}

@keyframes slide-right {
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}